[package]
name = "string2path"
version = "0.2.0"
edition = "2021"

[lib]
crate-type = ["staticlib"]

[profile.release]
lto = true

[dependencies]
extendr-api = { git = "https://github.com/yutannihilation/extendr.git", rev = "7255f06f4977790d70a02dd15a937b0d3dbb6367" }
fontdb = "0.9.1"
lyon = "1.0"
once_cell = "1.17.0"
ttf-parser = "0.15"
