[package]
name = "string2path"
version = "0.2.0"
edition = "2021"

[lib]
crate-type = ["staticlib"]

[profile.release]
lto = true

[dependencies]
savvy = "0.2.14"
fontdb = "0.16"
lyon = "1.0"
once_cell = "1"
ttf-parser = "0.20"
