on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

name: R-CMD-check

jobs:
  R-CMD-check:
    runs-on: ${{ matrix.config.os }}

    name: "${{ matrix.config.os }} (R: ${{ matrix.config.r }}, Rust: ${{ matrix.config.rust }})"

    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: windows-latest, r: 'release',  rust: 'stable-msvc'}
          - {os: macOS-latest,   r: 'release',  rust: 'stable'     }
          - {os: ubuntu-latest,  r: 'release',  rust: 'stable'     }
          - {os: ubuntu-latest,  r: 'devel',    rust: 'stable'     }
          - {os: ubuntu-latest,  r: 'release',  rust: 'nightly'    }

    steps:
      - uses: actions/checkout@v4

      - name: Set up Rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.config.rust }}

      # - name: Run cargo test
      #   run: cargo test --manifest-path ./src/rust/Cargo.toml

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r }}
          rtools-version: ${{ matrix.config.rtools-version }}
          use-public-rspm: true

      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::rcmdcheck
          needs: check

      - uses: r-lib/actions/check-r-package@v2

      - name: debug
        run: cat ./check/*.Rcheck/00install.out
        if: ${{ always() }}